.box{
    width:70%;
    height: 45px;
    background-color: #5a1b3b;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 5px;
    color:white;
}
.butt{
    width: 7%;
    border-radius:5px;
    background-color:gray;
    color:white;
    height: 70%;
    margin-left: 90%;
    margin-bottom: 50px;
    position:relative;
    right: 20px;
    bottom:16px;
}
.text{
    color: white;
    position: relative;
    left: 35%;
    top: 20%;

}